/* navbar custom */
nav {
    backdrop-filter: blur(10px);
}
.navbar .navbar-brand {
    font-size: 26px;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #B790E8;
    font-weight: 400;
}
.navbar .navbar-nav .nav-item .nav-link.active {
    color: #8142D0;
}
.navbar .navbar-toggler,
.navbar .navbar-toggler:active,
.navbar .navbar-toggler:focus {
    box-shadow: none;
}