* {
    box-sizing: border-box;
  }
  
  body {
    padding: auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 18px;
    background: linear-gradient(to right, pink, violet, lightblue);   
  }
  
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    image-orientation: from-image;
  }
  