.background-overlay {
    background-image: url("../assets/img-banner.png");
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}